.agent-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
}

.agent {
  width: 5%;
  margin: 2%;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 100%;
}
